<div class="col-lg-4 mx-auto">
    <div class="card">
        <div class="card-header">
            Sube una foto
        </div>
        <div class="card-body">
            <form (submit)="uploadPhoto(title, description)">
                <div class="form-group">
                    <input #title type="text" class="form-control" placeholder="Titulo de la foto" required>
                </div>
                <div class="form-group">
                    <textarea #description rows="2" class="form-control" placeholder="Descripcion de la foto" required></textarea>
                </div>

                <input type="file" class="d-none" (change)="onPhotoSelected($event)" #photoInput>
                <img [src]="photoSelected || 'assets/no-image.png'" class="img-fluid" alt="" (click)="photoInput.click()">

                <button class="btn btn-primary btn-block"> Subir Imagen</button>
            </form>
        </div>
    </div>
</div>
